.header {
  background-color: black;
  
}
.header h2{color: white;}
.header h3{color: white;}

h2{font-family: palatino, 'Palatino Linotype', serif; 
font-size: 32px; 
color: red;
text-align: center;  
width: 100%;
}
h3{font-family: palatino, 'Palatino Linotype', serif; 
font-size: 24px; 
color: red;
text-align: center;  
width: 100%;

p{
  font-size: 20px;
  margin: 75px;
  text-indent: 50px;
}
