body {
 margin: 0px;
  padding: 0px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 text-align: center;
}
.header {
  border-bottom: 1px solid #000;
  height: 150px; 
  background-image: url(http://i.imgur.com/GgxWJGy.jpg);
  background-size: cover;
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  text-align:center;
}
.header h2{color: white;
}
.by{color: white;display: inline-block; vertical-align: center;font-size: 24px;}
.dropdown-toggle{color:white; margin-left: -600px; display: inline-block; font-size: 20px; position: absolute;}
.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
  display: none;
}
.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
  display: none;
  background-color: white;
}
h2{ 
font-size: 32px; 
color: black;
}
h3{ 
font-size: 24px; 
}

.chapter-1{
 margin: 100px;
 font-size: 24px;
}

.jumpchapters{margin: 100px; font-size: 24px;}
.treasurehunt{margin: 100px; font-size: 24px;}
.aboutme{margin: 100px; font-size: 24px;}

.footer {
 border-top: 1px solid black;
 background-image: url(http://i.imgur.com/GgxWJGy.jpg);
 background-size: cover;
 position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
 padding: 1rem;
}

a:link, a:visited, a:hover, a:active { color: black; text-decoration: none;}
