body {
  margin: 0px;
  padding: 0px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}
.header {
  border-bottom: 0px solid #000;
  height: 150px; 
  background-image: url(http://i.imgur.com/DuYaZnw.jpg?3);
  background-size: cover;
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  text-align:center;
  margin-bottom: 75px;
}
.header h2{color: #2F4F4F;
}
#by{color:#2F4F4F;display: inline-block; vertical-align: center;font-size: 24px;}
.home {
display: inline-block;
margin-left: 50px;
 float: left;
 font-size: 20px;
color: white;
background-color: #2F4F4F;
padding: 8px 18px;
border-radius: 10px;
margin-top: -25px;
}
.home a:active {
  position: relative;
  bottom: -2px;
}
h2{ 
font-size: 32px; 
width: 100%;
color: #2F4F4F;
}
p{text-align: left;
  color: #2F4F4F;
  font-size: 20px;
  margin-left: 100px;
  margin-right:100px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-indent: 50px;
  line-height: 1.5;
}
h3{ 
font-size: 30px; 
width: 100%;
 }
 h4{margin-top: 30px;
 font-size: 30px;
 color:#2F4F4F;
 }
 h5{font-size: 24px;
 color:#2F4F4F;
 }
.footer {
  height: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
a:link, a:visited, a:hover, a:active { color: white; text-decoration: none;}

